@import 'reset';

@tailwind base;
@tailwind components;
@tailwind utilities;

.filament-admin-bar {
    position: relative;
    z-index: 9999;
    font-size: 1.6rem;
}

@layer base {
    .filament-admin-bar input {
        box-shadow: none !important;
        @apply block py-1.5 px-3.5 rounded-xl border-gray-300 outline-none transition duration-75 focus:ring-1 focus:ring-inset focus:border-teal-500 focus:ring-teal-500 disabled:opacity-70;
    }
}
